{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/home.css" %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body class="main">
    <nav>
      <div class="navbar">
        <div class="logo">
            <a id="logo" href="{% url 'home' %}">
                <img src="{% static "img/logo.png" %}" alt="nuevo logo" />
            </a>
        </div>
        <div class="icons">
          <div class="icon">
            <a href="#contactUs">
              <span class="material-icons-round"> contact_phone </span>
            </a>
          </div>
          <div class="icon">
            <a href="{% url 'auth_view' %}">
            <span class="material-icons-round"> login </span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="sections">
      <div class="section" id="features">
        <div class="imgBox">
          <img class="imagePanel" src="{% static "img/home.png" %}" alt="Features" />
        </div>
        <div class="contentBox">
          <div>
            <h1 class="headingRight">What is Nuevo?</h1>
          </div>
          <div class="contentRight">
            <p>
              "Nuevo's dashboard simplifies hiring by filtering resumes and predicting top candidates who fit your company culture, ensuring the selection of top-tier talent."
            </p>
          </div>
        </div>
      </div>
      <div class="section" id="userFeatures">
        <div class="contentBox">
          <div>
            <h1 class="headingLeft">
              Minimizing Hiring Challenges: Your Path to Smooth Recruitment
            </h1>
          </div>
          <div class="contentLeft">
            <p>
              The website's user-friendly interface and streamlined application
              process make it quick and easy for job seekers to apply for
              multiple positions, saving time and effort.
            </p>
            <p>
              The website partners with top-tier companies and organizations,
              providing job seekers with access to a wide range of reputable
              employers and enticing career prospects.
            </p>
            <a href="{% url 'auth_view' %}">
              <button>SignUp Now</button>
            </a>
          </div>
        </div>
        <div class="imgBox">
          <img
            class="imagePanel"
            src="{% static "img/userFeatures.png" %}"
            alt="Features"
          />
        </div>
      </div>
      <div class="section" id="hrFeatures">
        <div class="imgBox">
          <img
            class="imagePanel"
            src="{% static "img/hrFeatures.png" %}"
            alt="Features"
          />
        </div>


        <div class="contentBox">
          <div>
            <h1 class="headingRight">Advanced HR Dashboard Features</h1>
          </div>
          <div class="contentRight">
            <p>
              Smart Resume Filtering whichs aids to effortlessly sift through
              resumes with advanced filtering options.
            </p>
            <p>
              Leverage data-driven insights and predictive analytics to identify
              top-tier candidates who not only meet the requirements of the role
              but also possess the potential to thrive within your
              organization's culture.
            </p>
            <a href="{% url 'auth_view' %}">
              <button>Get Started</button>
            </a>
          </div>
        </div>
      </div>
      <div class="contactUs" id="contactUs">
        <div class="contentBox">
          <div>
            <h1 class="footerHeading">Connect with Us Today!</h1>
          </div>
          <div class="footerContent">
            <p>We are always ready to help!</p>
            <div class="contactLinks">
                <img class="contactLogo" src="{% static "img/Instagram.png" %}" alt="">
              <div>
                <p>Nuevo_Official</p>
              </div>
            </div>
            <div class="contactLinks">
                <img class="contactLogo" src="{% static "img/facebook.png" %}" alt="">
              <div>
                <p>Nuevo</p>
              </div>
            </div>
            <div class="contactLinks">
                <img class="contactLogo" src="{% static "img/Twitter.png" %}" alt="">
              <div>
                <p>Nuevo_Inc.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footerImage">
          <img class="footerImagePanel" src="{% static "img/contactUs.png" %}" alt="Features" />
        </div>
      </div>

    </div>
  </body>
</html>