{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR DASHBOARD</title>
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}"/>
</head>
<body>
    <div class="nav-bar"></div>
    <div class="top-section">
        <div class="logo">
            <a id="logo" href="{% url 'home' %}">
                <img src="{% static "img/logo.png" %}" width="250px" height="130px" alt="nuevo logo" />
            </a>
        </div>
    </div>
    <div class="main-container">
        <div class="application-list" >
            <div class="serach-section">
                <div class="warp">
                    <div class="serach">
                        <input type="text" class="searchTerm" placeholder="Serach Applicant" oninput="searchApplicants()">
                    </div>
                </div>
                <div class="container">
                    <div class="select-btn">
                        <span class="btn-text">Select Language</span>
                        <span class="arrow-dwn">
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>
                    <ul class="list-items">
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">HTML & CSS</span>
                        </li>
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Bootstrap</span>
                        </li>
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">JavaScript</span>
                        </li>
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Node.Js</span>
                        </li>
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">React JS</span>
                        </li>
                        <li class="item">
                            <span class="checkbox">
                                <i class="fa-solid fa-check check-icon"></i>
                            </span>
                            <span class="item-text">Mango DB</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <div class="applications">
                    {% for person in people %}
                        <div class="applicant">
                            <div class="applicant-left-section">
                                <div class="applicant-top-section">
                                    <div class="applicant-name"> {{person.name}} </div>
                                    <div class="qualification"> {{ person.qualifications }} </div>
                                </div>
                                <div class="applicant-bottom-section">
                                    <div class="exprience">Experience - {{ person.experience }}</div>
                                    <div class="skills">Skills - {{ person.skills }}</div>  
                                    <div class="phone-number">Phone No : {{ person.phone_number }}</div>
                                </div>
                            </div>
                            <div class="applicant-right-section">
                                <a class="view" href="{% url 'profile_view' user_id=person.id %}">
                                    <button class="view" data-user-id="{{ person.id }}" onclick="{% url 'profile_view' user_id=person.id %}" > View </button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="technical-hiring">
            <div class="technical-head">Technical Hiring</div>
                <li class="technical-list">
                    <div class="large-text">18</div> 
                    <div class="small-text">Days to hire</div>
                </li>
                <li class="technical-list">
                    <div class="large-text">54</div> 
                    <div class="small-text">Days to fill</div>
                </li>
                <li class="technical-list">
                    <div class="large-text">98%</div> 
                    <div class="small-text">Acceptance Rate</div>
                </li>
                <li class="technical-list">
                    <div class="large-text">4.8%</div> 
                    <div class="small-text">Withdrawal rate after (CC) </div></li>
        </div>
        <div class="requirement-cost">
            <img src="{% static "img/graph.svg" %}" alt="">
        </div>
        <div class="non-technical-hiring">
            <div class="non-technical-head">Non - Technical Hiring</div>
            <ul>
                <li class="non-technical-list">
                    <div class="large-text">28</div> 
                    <div class="small-text">Days to hire</div>
                </li>
                <li class="non-technical-list">
                    <div class="large-text">37</div> 
                    <div class="small-text">Days to fill</div>
                </li>
                <li class="non-technical-list">
                    <div class="large-text">100%</div> 
                    <div class="small-text">Acceptance Rate</div>
                </li>
                <li class="non-technical-list">
                    <div class="large-text">4%</div> 
                    <div class="small-text">Withdrawal rate after (CC) </div></li>
            </ul>
        </div>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://kit.fontawesome.com/25bbf2816f.js" crossorigin="anonymous"></script>
<script>
    function searchApplicants() {
        var searchTerm = document.querySelector('.searchTerm').value.toLowerCase();
        var applicants = document.getElementsByClassName('applicant');
   
        for (var i = 0; i < applicants.length; i++) {
            var applicantName = applicants[i].getElementsByClassName('applicant-name')[0].innerText.toLowerCase();
   
            if (applicantName.includes(searchTerm)) {
                applicants[i].style.display = 'grid';
            } else {
                applicants[i].style.display = 'none';
            }
        }
    }

    const selectBtn = document.querySelector(".select-btn"),
    items = document.querySelectorAll(".item");
    selectBtn.addEventListener("click", () => {
        selectBtn.classList.toggle("open");
    });
    items.forEach(item => {
        item.addEventListener("click", () => {
            item.classList.toggle("checked");
            let checked = document.querySelectorAll(".checked"),
            btnText = document.querySelector(".btn-text");
            if(checked && checked.length > 0){
                btnText.innerText = "Select Language";
            }else{
                btnText.innerText = "Select Language";
            }
        });
    })
</script>
</html>